@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@100&family=Mulish:wght@200;600;700&display=swap");

/*---------------------------movie Details-----------------------------------------------*/
.card {
  margin: 0 20px;
  text-align: center;
  font-weight: bold;
}
/*---------------------------input Email-----------------------------------------------*/
.inputs {
  position: relative;
  margin: 200px 0 0 0;
  background-color: white;
  border: solid gainsboro 1px;
  vertical-align: middle;
  width: 100%;
  height: 350px;
  box-shadow: 10px 10px 10px gainsboro;
  text-align: center;
}
.input__aligns {
  position: relative;
  top: 60px;
}
.input__descs {
  color: gray;
  font-weight: bold;
}
.input__titles {
  color: #5f2eea;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 55px;
}
.input__emails {
  border: solid gainsboro 2px;
  margin: 20px 10px;
  padding: 10px 70px;
  border-radius: 10px;
  text-align: left;
}
.input__buttons {
  color: white;
  font-weight: bold;
  background-color: #5f2eea;
  padding: 10px 30px;
  border-radius: 10px;
}

.input__captions {
  display: block;
  font-size: 15px;
}

@media (max-width: 575.98px) {
  .card {
    margin: 0 20px;
    text-align: center;
    font-weight: bold;
  }
  /*---------------------------input Email-----------------------------------------------*/
  .inputs {
    position: relative;
    margin: 200px 0 0 0;
    background-color: white;
    border: solid gainsboro 1px;
    vertical-align: middle;
    width: 100%;
    height: 350px;
    box-shadow: 10px 10px 10px gainsboro;
    text-align: center;
  }
  .input__aligns {
    position: relative;
    top: 60px;
  }
  .input__descs {
    color: gray;
    font-weight: bold;
  }
  .input__titles {
    color: #5f2eea;
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    font-size: 55px;
  }
  .input__emails {
    border: solid gainsboro 2px;
    margin: 20px 10px;
    padding: 10px 70px;
    border-radius: 10px;
    text-align: left;
  }
  .input__buttons {
    color: white;
    font-weight: bold;
    background-color: #5f2eea;
    padding: 10px 30px;
    border-radius: 10px;
  }

  .input__captions {
    display: block;
    font-size: 15px;
  }
}
