@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@100&family=Mulish:wght@200;600;700&display=swap");

* {
  font-family: "Mulish", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.order__background {
  background-color: #f5f6f8;
}
/*---------------------------Movie Selected-----------------------------------------------*/
.movieSelected__flex {
  padding-top: 90px;
  display: flex;
}
/*---------------------------Movie Selected Flex Left-----------------------------------------------*/

/*-------------------Movie Selected Title---------------------------------------*/
.movieSelected__flex1 {
  margin-top: 50px;
  flex: 2;
  font-size: 3vh;
}
.movieSelected__header {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-bottom: 40px;
}
.movieSelected__movieSelected {
  border: none;
  border-radius: 16px;
  background-color: white;
  box-shadow: gainsboro 12px 12px 12px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.movieSelected__movieSelected--title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: gray;
  font-weight: bold;
  font-size: 100%;
  margin-right: 42%;
}
.movieSelected__movieSelected--button {
  text-align: right;
  display: inline-block;
  background-color: #eff0f6;
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  border-radius: 8px;
  padding: 1vh 2%;
  font-size: 2.5vh;
  color: #5f2eea;
  border: solid #5f2eea 2px;
  font-weight: bold;
  width: auto;
}
.movieSelected__movieSelected--button:hover {
  text-align: right;
  display: inline-block;
  background-color: #5f2eea;
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  border-radius: 8px;
  padding: 1vh 2%;
  font-size: 2.5vh;
  color: white;
  border: solid #5f2eea 2px;
  font-weight: bold;
  width: auto;
}
/*-------------------Movie Selected Seat---------------------------------------*/
.seatSelected__header {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.seatSelected__movieSelected {
  border: none;
  border-radius: 16px;
  background-color: white;
  padding: 10px 50px;
}
.seatSelected__movieSelected--title {
  font-weight: bold;
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: #4e4b66;
}
.seat__border--line {
  background-color: #5f2eea;
  height: 1vh;
  width: 95%;
  border-radius: 10px;
}
.seat__border--main {
  margin-top: 30px;
  padding-right: 10px;
}
.seat__border--box {
  margin-top: 50px;
}
.seat__border--headerTwo {
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 2.5vh;
  margin: 0 0 30px 0;
}

.headerTwo__box1 {
  margin: 30px 0;
  background-color: #d6d8e7;
  border-radius: 7px;
  height: 5vh;
  width: 5vh;
  display: inline-block;
  margin: 0 100px 30px 0;
}
.headerTwo__box2 {
  margin: 30px 0;
  background-color: #5f2eea;
  border-radius: 7px;
  height: 5vh;
  width: 5vh;
  display: inline-block;
  margin: 0 100px 0 0;
}
.headerTwo__box3 {
  margin: 30px 0;
  background-color: #6e7191;
  border-radius: 7px;
  height: 5vh;
  width: 5vh;
  display: inline-block;
  margin: 0 5vh 0 0;
}
.headerTwo__desc {
  display: inline block;
  position: relative;
  margin-left: 6vh;
  font-size: 15px;
  top: 5px;
  font-weight: bold;
  color: #4e4b66;
}
.button {
  margin: 70px 0;
  display: flex;
}
.button__change {
  flex: 1;
}
.button__change--movie {
  padding: 15px 80px;
  font-size: 17px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: bold;
  border-radius: 8px;
  border: solid blueviolet 2px;
  color: #5f2eea;
}
.button__change--movie:hover {
  color: white;
  background-color: #5f2eea;
}
.button__checkout--movie {
  padding: 15px 80px;
  font-size: 17px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: bold;
  border-radius: 8px;
  border: solid blueviolet 2px;
  color: #5f2eea;
  margin-bottom: 50px;
}
.button__checkout--movie:hover {
  color: white;
  background-color: #5f2eea;
}
.button__checkout {
  text-align: right;
  flex: 1;
}
/*---------------------------Movie Selected Flex Right-----------------------------------------------*/
.movieSelected__flex2 {
  margin-top: 50px;
  flex: 1;
  margin-left: 20px;
}
.movieInfo__header {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.personal__box {
  background-color: white;
  border: solid gainsboro 2px;
  box-shadow: 10px 10px 10px gainsboro;
  margin: 30px 1vh;
  padding: 4vh;
  border-radius: 12px;
}
.personal__boxImage {
  display: flex;
  justify-content: center;
}
.personal__box--image {
  margin: 0 80px;
}
.personal__box--title {
  text-align: center;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: bold;
  margin: 15px 0 30px 0;
}
.personal__box--flex {
  display: flex;
}
.flex__movie {
  flex: 1;
}
.flex__movie--info {
  margin-top: 5px;
  font-size: 16px;
  color: #6b6b6b;
  font-weight: 600;
}
.flex__movie--info1 {
  font-size: 18px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: bold;
  margin-top: 30px;
  font-weight: 600;
}
.flex__result {
  flex: 1;
}
.flex__movie--result {
  font-size: 18px;
  color: black;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  text-align: right;
}
.flex__movie--result1 {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: #5f2eea;
  font-weight: bold;
  text-align: right;
  margin-top: 30px;
}
/*---------------------------Button-----------------------------------------------*/
.orderPage__button {
  text-align: center;
  margin-left: 5%;
  font-size: 2vh;
  font-weight: bold;
  height: 8vh;
  width: 90%;
  border-radius: 12px;
  border: none;
  background-color: #5f2eea;
  color: white;
  display: none;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  * {
    font-family: "Mulish", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .order__background {
    background-color: #f5f6f8;
  }
  /*---------------------------Movie Selected-----------------------------------------------*/
  .movieSelected__flex {
    padding-top: 90px;
    display: flex;
  }
  /*---------------------------Movie Selected Flex Left-----------------------------------------------*/

  /*-------------------Movie Selected Title---------------------------------------*/
  .movieSelected__flex1 {
    margin-top: 50px;
    flex: 2;
    font-size: 3vh;
  }
  .movieSelected__header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .movieSelected__movieSelected {
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: gainsboro 12px 12px 12px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
  }
  .movieSelected__movieSelected--title {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    margin-right: 42%;
  }
  .movieSelected__movieSelected--button {
    text-align: right;
    display: inline-block;
    background-color: #eff0f6;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    border-radius: 8px;
    padding: 3px 23px;
    font-size: 12px;
    color: #5f2eea;
    border: solid #5f2eea 2px;
    font-weight: bold;
    width: auto;
  }
  .movieSelected__movieSelected--button:hover {
    text-align: right;
    display: inline-block;
    background-color: #5f2eea;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    border-radius: 8px;
    padding: 1vh 2%;
    font-size: 2.5vh;
    color: white;
    border: solid #5f2eea 2px;
    font-weight: bold;
    width: auto;
  }
  /*-------------------Movie Selected Seat---------------------------------------*/
  .seatSelected__header {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .seatSelected__movieSelected {
    border: none;
    border-radius: 16px;
    background-color: white;
    padding: 10px 50px;
  }
  .seatSelected__movieSelected--title {
    font-weight: bold;
    margin-top: 60px;
    font-size: 17px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: #4e4b66;
  }
  .seat__border--line {
    background-color: #5f2eea;
    height: 1vh;
    width: 95%;
    border-radius: 10px;
  }
  .seat__border--main {
    margin-top: 30px;
    padding-right: 10px;
  }
  .seat__border--box {
    margin-top: 50px;
  }
  .seat__border--headerTwo {
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-size: 2.5vh;
    margin: 0 0 30px 0;
  }

  .headerTwo__box1 {
    margin: 30px 0;
    background-color: #d6d8e7;
    border-radius: 7px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 100px 30px 0;
  }
  .headerTwo__box2 {
    margin: 30px 0;
    background-color: #5f2eea;
    border-radius: 7px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 100px 0 0;
  }
  .headerTwo__box3 {
    margin: 30px 0;
    background-color: #6e7191;
    border-radius: 7px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 5vh 0 0;
  }
  .headerTwo__desc {
    display: inline block;
    position: relative;
    margin-left: 6vh;
    font-size: 15px;
    top: 5px;
    font-weight: bold;
    color: #4e4b66;
  }
  .button {
    margin: 60px 0;
    display: flex;
  }
  .button__change {
    flex: 1;
  }
  .button__change--movie {
    padding: 10px 50px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: solid blueviolet 2px;
    color: #5f2eea;
  }
  .button__change--movie:hover {
    color: white;
    background-color: #5f2eea;
  }
  .button__checkout--movie {
    padding: 10px 50px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: solid blueviolet 2px;
    color: #5f2eea;
    margin-bottom: 50px;
  }
  .button__checkout--movie:hover {
    color: white;
    background-color: #5f2eea;
  }
  .button__checkout {
    text-align: right;
    flex: 1;
  }
  /*---------------------------Movie Selected Flex Right-----------------------------------------------*/
  .movieSelected__flex2 {
    margin-top: 50px;
    flex: 1;
    margin-left: 20px;
  }
  .movieInfo__header {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .personal__box {
    background-color: white;
    border: solid gainsboro 2px;
    box-shadow: 10px 10px 10px gainsboro;
    margin: 30px 1vh;
    padding: 4vh;
    border-radius: 12px;
  }
  .personal__box--image {
    margin: 0 30px;
  }
  .personal__box--title {
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    margin: 15px 0 30px 0;
  }
  .personal__box--flex {
    display: flex;
  }
  .flex__movie {
    flex: 1;
  }
  .flex__movie--info {
    margin-top: 5px;
    font-size: 15px;
    color: #6b6b6b;
    font-weight: 600;
  }
  .flex__movie--info1 {
    font-size: 16px;
    color: black;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-weight: 600;
  }
  .flex__result {
    flex: 1;
  }
  .flex__movie--result {
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    text-align: right;
  }
  .flex__movie--result1 {
    font-size: 17px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: #5f2eea;
    font-weight: bold;
    text-align: right;
    margin-top: 30px;
  }
  /*---------------------------Button-----------------------------------------------*/
  .orderPage__button {
    text-align: center;
    margin-left: 5%;
    font-size: 2vh;
    font-weight: bold;
    height: 8vh;
    width: 90%;
    border-radius: 12px;
    border: none;
    background-color: #5f2eea;
    color: white;
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  * {
    font-family: "Mulish", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .order__background {
    background-color: #f5f6f8;
  }
  /*---------------------------Movie Selected-----------------------------------------------*/
  .movieSelected__flex {
    padding-top: 90px;
    display: block;
  }
  /*---------------------------Movie Selected Flex Left-----------------------------------------------*/

  /*-------------------Movie Selected Title---------------------------------------*/
  .movieSelected__flex1 {
    margin-top: 50px;
    flex: 2;
    font-size: 3vh;
  }
  .movieSelected__header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .movieSelected__movieSelected {
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: gainsboro 12px 12px 12px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
  }
  .movieSelected__movieSelected--title {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    margin-right: 42%;
  }
  .movieSelected__movieSelected--button {
    text-align: right;
    display: inline-block;
    background-color: #eff0f6;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    border-radius: 8px;
    padding: 3px 23px;
    font-size: 12px;
    color: #5f2eea;
    border: solid #5f2eea 2px;
    font-weight: bold;
    width: auto;
  }
  .movieSelected__movieSelected--button:hover {
    text-align: right;
    display: inline-block;
    background-color: #5f2eea;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    border-radius: 8px;
    padding: 1vh 2%;
    font-size: 2.5vh;
    color: white;
    border: solid #5f2eea 2px;
    font-weight: bold;
    width: auto;
  }
  /*-------------------Movie Selected Seat---------------------------------------*/
  .seatSelected__header {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .seatSelected__movieSelected {
    border: none;
    border-radius: 16px;
    background-color: white;
    padding: 10px 50px;
  }
  .seatSelected__movieSelected--title {
    font-weight: bold;
    margin-top: 60px;
    font-size: 17px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: #4e4b66;
  }
  .seat__border--line {
    background-color: #5f2eea;
    height: 1vh;
    width: 95%;
    border-radius: 10px;
  }
  .seat__border--main {
    margin-top: 30px;
    padding-right: 10px;
  }
  .seat__border--box {
    margin-top: 50px;
  }
  .seat__border--headerTwo {
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-size: 2.5vh;
    margin: 0 0 30px 0;
  }

  .headerTwo__box1 {
    margin: 30px 0;
    background-color: #d6d8e7;
    border-radius: 7px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 100px 30px 0;
  }
  .headerTwo__box2 {
    margin: 30px 0;
    background-color: #5f2eea;
    border-radius: 7px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 100px 0 0;
  }
  .headerTwo__box3 {
    margin: 30px 0;
    background-color: #6e7191;
    border-radius: 7px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 5vh 0 0;
  }
  .headerTwo__desc {
    display: inline block;
    position: relative;
    margin-left: 6vh;
    font-size: 15px;
    top: 5px;
    font-weight: bold;
    color: #4e4b66;
  }
  .button {
    margin: 60px 0;
    display: none;
  }
  .button__change {
    flex: 1;
  }
  .button__change--movie {
    padding: 10px 50px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: solid blueviolet 2px;
    color: #5f2eea;
  }
  .button__change--movie:hover {
    color: white;
    background-color: #5f2eea;
  }
  .button__checkout--movie {
    padding: 10px 50px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: solid blueviolet 2px;
    color: #5f2eea;
    margin-bottom: 50px;
  }
  .button__checkout--movie:hover {
    color: white;
    background-color: #5f2eea;
  }
  .button__checkout {
    text-align: right;
    flex: 1;
  }
  /*---------------------------Movie Selected Flex Right-----------------------------------------------*/
  .movieSelected__flex2 {
    margin-top: 50px;
    flex: 1;
    margin-left: 20px;
  }
  .movieInfo__header {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .personal__box {
    background-color: white;
    border: solid gainsboro 2px;
    box-shadow: 10px 10px 10px gainsboro;
    margin: 30px 1vh;
    padding: 4vh;
    border-radius: 12px;
  }
  .personal__box--image {
    margin: 0 210px;
  }
  .personal__box--title {
    text-align: center;
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    margin: 15px 0 30px 0;
  }
  .personal__box--flex {
    display: flex;
  }
  .flex__movie {
    flex: 1;
  }
  .flex__movie--info {
    margin-top: 5px;
    font-size: 17px;
    color: #6b6b6b;
    font-weight: 600;
  }
  .flex__movie--info1 {
    font-size: 20px;
    color: black;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-weight: 600;
  }
  .flex__result {
    flex: 1;
  }
  .flex__movie--result {
    font-size: 18px;
    color: black;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    text-align: right;
  }
  .flex__movie--result1 {
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: #5f2eea;
    font-weight: bold;
    text-align: right;
    margin-top: 30px;
  }
  /*---------------------------Button-----------------------------------------------*/
  .orderPage__button {
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  * {
    font-family: "Mulish", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .order__background {
    background-color: #f5f6f8;
  }
  /*---------------------------Movie Selected-----------------------------------------------*/
  .movieSelected__flex {
    padding-top: 90px;
    display: block;
  }
  /*---------------------------Movie Selected Flex Left-----------------------------------------------*/

  /*-------------------Movie Selected Title---------------------------------------*/
  .movieSelected__flex1 {
    margin-top: 50px;
    flex: 2;
    font-size: 3vh;
  }
  .movieSelected__header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    display: none;
  }
  .movieSelected__movieSelected {
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: gainsboro 12px 12px 12px;
    padding: 20px 30px;
    display: none;
    justify-content: space-between;
  }
  .movieSelected__movieSelected--title {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    margin-right: 42%;
  }
  .movieSelected__movieSelected--button {
    text-align: right;
    display: inline-block;
    background-color: #eff0f6;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    border-radius: 8px;
    padding: 3px 23px;
    font-size: 12px;
    color: #5f2eea;
    border: solid #5f2eea 2px;
    font-weight: bold;
    width: auto;
  }
  .movieSelected__movieSelected--button:hover {
    text-align: right;
    display: inline-block;
    background-color: #5f2eea;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    border-radius: 8px;
    padding: 1vh 2%;
    font-size: 2.5vh;
    color: white;
    border: solid #5f2eea 2px;
    font-weight: bold;
    width: auto;
  }
  /*-------------------Movie Selected Seat---------------------------------------*/
  .seatSelected__header {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .seatSelected__movieSelected {
    border: none;
    border-radius: 16px;
    background-color: white;
    padding: 10px 50px;
  }
  .seatSelected__movieSelected--title {
    font-weight: bold;
    margin-top: 60px;
    font-size: 17px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: #4e4b66;
  }
  .seat__border--line {
    background-color: #5f2eea;
    height: 1vh;
    width: 99%;
    border-radius: 10px;
  }
  .seat__border--main {
    margin-top: 30px;
    padding-right: 10px;
  }
  .seat__border--box {
    margin-top: 50px;
  }
  .seat__border--headerTwo {
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-size: 2.5vh;
    margin: 0 0 30px 0;
  }

  .headerTwo__box1 {
    margin: 30px 0;
    background-color: #d6d8e7;
    border-radius: 7px;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 0 100px 30px 0;
  }
  .headerTwo__box2 {
    margin: 30px 0;
    background-color: #5f2eea;
    border-radius: 7px;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 0 100px 0 0;
  }
  .headerTwo__box3 {
    margin: 30px 0;
    background-color: #6e7191;
    border-radius: 7px;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 0 5vh 0 0;
  }
  .headerTwo__desc {
    display: inline block;
    position: relative;
    margin-left: 6vh;
    font-size: 13px;
    top: 5px;
    font-weight: bold;
    color: #4e4b66;
  }
  .button {
    margin: 60px 0;
    display: none;
  }
  .button__change {
    flex: 1;
  }
  .button__change--movie {
    padding: 10px 50px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: solid blueviolet 2px;
    color: #5f2eea;
  }
  .button__change--movie:hover {
    color: white;
    background-color: #5f2eea;
  }
  .button__checkout--movie {
    padding: 10px 50px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: solid blueviolet 2px;
    color: #5f2eea;
    margin-bottom: 50px;
  }
  .button__checkout--movie:hover {
    color: white;
    background-color: #5f2eea;
  }
  .button__checkout {
    text-align: right;
    flex: 1;
  }
  /*---------------------------Movie Selected Flex Right-----------------------------------------------*/
  .movieSelected__flex2 {
    margin-top: 50px;
    flex: 1;
    margin-left: 20px;
  }
  .movieInfo__header {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .personal__box {
    background-color: white;
    border: solid gainsboro 2px;
    box-shadow: 10px 10px 10px gainsboro;
    margin: 30px 1vh;
    padding: 4vh;
    border-radius: 12px;
  }
  .personal__box--image {
    margin: 0 120px;
  }
  .personal__box--title {
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    margin: 15px 0 30px 0;
  }
  .personal__box--flex {
    display: flex;
  }
  .flex__movie {
    flex: 1;
  }
  .flex__movie--info {
    margin-top: 5px;
    font-size: 15px;
    color: #6b6b6b;
    font-weight: 600;
  }
  .flex__movie--info1 {
    font-size: 17px;
    color: black;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-weight: 600;
  }
  .flex__result {
    flex: 1;
  }
  .flex__movie--result {
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    text-align: right;
  }
  .flex__movie--result1 {
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: #5f2eea;
    font-weight: bold;
    text-align: right;
    margin-top: 30px;
  }
  /*---------------------------Button-----------------------------------------------*/
  .orderPage__button {
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  * {
    font-family: "Mulish", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .order__background {
    background-color: #f5f6f8;
  }
  /*---------------------------Movie Selected-----------------------------------------------*/
  .movieSelected__flex {
    padding-top: 90px;
    display: block;
  }
  /*---------------------------Movie Selected Flex Left-----------------------------------------------*/

  /*-------------------Movie Selected Title---------------------------------------*/
  .movieSelected__flex1 {
    margin-top: 50px;
    flex: 2;
    font-size: 3vh;
  }
  .movieSelected__header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    display: none;
  }
  .movieSelected__movieSelected {
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: gainsboro 12px 12px 12px;
    padding: 20px 30px;
    display: none;
    justify-content: space-between;
  }
  .movieSelected__movieSelected--title {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    margin-right: 42%;
  }
  .movieSelected__movieSelected--button {
    text-align: right;
    display: inline-block;
    background-color: #eff0f6;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    border-radius: 8px;
    padding: 3px 23px;
    font-size: 12px;
    color: #5f2eea;
    border: solid #5f2eea 2px;
    font-weight: bold;
    width: auto;
  }
  .movieSelected__movieSelected--button:hover {
    text-align: right;
    display: inline-block;
    background-color: #5f2eea;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    border-radius: 8px;
    padding: 1vh 2%;
    font-size: 2.5vh;
    color: white;
    border: solid #5f2eea 2px;
    font-weight: bold;
    width: auto;
  }
  /*-------------------Movie Selected Seat---------------------------------------*/
  .seatSelected__header {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .seatSelected__movieSelected {
    border: none;
    border-radius: 16px;
    background-color: white;
    padding: 10px 50px;
  }
  .seatSelected__movieSelected--title {
    font-weight: bold;
    margin-top: 60px;
    font-size: 17px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: #4e4b66;
  }
  .seat__border--line {
    background-color: #5f2eea;
    height: 1vh;
    width: 99%;
    border-radius: 10px;
  }
  .seat__border--main {
    margin-top: 30px;
    padding-right: 10px;
  }
  .seat__border--box {
    margin-top: 50px;
  }
  .seat__border--headerTwo {
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-size: 2.5vh;
    margin: 0 0 30px 0;
  }

  .headerTwo__box1 {
    margin: 30px 0;
    background-color: #d6d8e7;
    border-radius: 7px;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 0 100px 30px 0;
  }
  .headerTwo__box2 {
    margin: 30px 0;
    background-color: #5f2eea;
    border-radius: 7px;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 0 100px 0 0;
  }
  .headerTwo__box3 {
    margin: 30px 0;
    background-color: #6e7191;
    border-radius: 7px;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 0 5vh 0 0;
  }
  .headerTwo__desc {
    display: inline block;
    position: relative;
    margin-left: 6vh;
    font-size: 13px;
    top: 5px;
    font-weight: bold;
    color: #4e4b66;
  }
  .button {
    margin: 60px 0;
    display: none;
  }
  .button__change {
    flex: 1;
  }
  .button__change--movie {
    padding: 10px 50px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: solid blueviolet 2px;
    color: #5f2eea;
  }
  .button__change--movie:hover {
    color: white;
    background-color: #5f2eea;
  }
  .button__checkout--movie {
    padding: 10px 50px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: solid blueviolet 2px;
    color: #5f2eea;
    margin-bottom: 50px;
  }
  .button__checkout--movie:hover {
    color: white;
    background-color: #5f2eea;
  }
  .button__checkout {
    text-align: right;
    flex: 1;
  }
  /*---------------------------Movie Selected Flex Right-----------------------------------------------*/
  .movieSelected__flex2 {
    margin-top: 50px;
    flex: 1;
    margin-left: 20px;
  }
  .movieInfo__header {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .personal__box {
    background-color: white;
    border: solid gainsboro 2px;
    box-shadow: 10px 10px 10px gainsboro;
    margin: 30px 1vh;
    padding: 4vh;
    border-radius: 12px;
  }
  .personal__box--image {
    margin: 0 90px;
  }
  .personal__box--title {
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    margin: 15px 0 30px 0;
  }
  .personal__box--flex {
    display: flex;
  }
  .flex__movie {
    flex: 1;
  }
  .flex__movie--info {
    margin-top: 5px;
    font-size: 15px;
    color: #6b6b6b;
    font-weight: 600;
  }
  .flex__movie--info1 {
    font-size: 17px;
    color: black;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-weight: 600;
  }
  .flex__result {
    flex: 1;
  }
  .flex__movie--result {
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    text-align: right;
  }
  .flex__movie--result1 {
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    color: #5f2eea;
    font-weight: bold;
    text-align: right;
    margin-top: 30px;
  }
  /*---------------------------Button-----------------------------------------------*/
  .orderPage__button {
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    font-size: 15px;
  }
}
